<section class="invite-interface" (click)="this.callAnimation()">
  <div class="invite-interface_container">
    <span class="name">Yves</span>
    <div class="invite-interface_container_heart">
      <img src="../../assets/lock.png" id="lock" alt="lock"/>
      <img src="../../assets/heart.png" id="heart" alt="heart"/>
      <div class="invite-interface_container_heart_content">
        <span>faltam</span>
        <span id="timer"><b>
          <span class="days"></span>
          <span class="hours"></span>
          <span class="mins"></span>
          <span class="seconds"></span></b>
        </span>
        <span>para o <br/> casamento</span>
      </div>
    </div>
    <span class="name">Rejanne</span>
  </div>
</section>




